.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.login-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;

  padding: 3em;
}
